html,body,nav,a,h1,footer,h2,h3,h4,span,div,img,p{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;}
.homebar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #f1a536;
    height: 150px;
    align-items: center;
}
.logo{
    height: 100%;
}
.contentHolder{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: inline-flex;
    justify-content: space-between;
    width: 700px;
}
nav>a{
    display: inline;
    color: black;
    text-decoration: none;
    font-size: 150%;
    margin: 0px 10px;
}
nav>a:hover{
    text-decoration: underline;
}
#homePage{
    background-image: url(/images/hero-image.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#homePage>p,#recipeHomePage>p{
    background-color: white;
    display: inline-block;
    height: fit-content;
    margin: 250px;
    font-size: 28pt;
    font-weight: 700;
    padding: 10px;
}
.foodInfo{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 50px;
    gap: 40px;
}
.foodInfo>h1{
    align-self: flex-start;
    font-size: 30pt;
}
.description{
    font-size: 26pt;
}
.foodImg{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 80%;
    justify-content: space-between;
}
.foodcard{
    width: 31%;
}
.foodImg img{
    order: 1;
    height: 90%;
    width: 100%;
    object-fit: cover;
}
.foodImg p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    height: 10%;
}
.foodInfo:nth-child(even){
    background-color: #DADFEA;
}
.foodInfo:nth-child(even)>.foodImg{
    gap: 5px;
}
.foodInfo:nth-child(even) .foodcard{
    width: 24%;
}
.foodInfo:nth-child(even)>.foodImg p{
    background-color: #fff;
}
.foodInfo:last-of-type img{
    border: 5px #DADFEA solid;
}
footer{
    width: 100%;
    display: flex;
    background-color: #f1a536;
    height: 12%;
    align-items: center;
    justify-content: space-around;
    gap: 41%;
}
footer a,footer span{
    font-size: 12pt;
    font-weight: 50;
}
.copyright{
display: inline-block;
width: 150px;
}


/* stuff for the burger */
#recipeHomePage{
    background-image: url(/images/bengal-burger.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.recipeTime{
    background-color: #DADFEA;
    padding: 30px;
}
.recipeInfo>div{
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.recipeInfo>div:last-of-type{
    justify-content:flex-start;
}
.recipeInfo{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.recipeTime h3{
    font-size: 26pt;
}
.recipeInfo h4{
    font-size: 14pt;
}
.recipeTime span{
    font-weight: 100;
}
.recipeDoc{
    width: 90%;
    margin: 0 auto;
}
.review span{
    color: #A63223;
}
.recipeSave button{
    background-color: #A63223;
    border-radius: 10px;
    color: #fff;
}
/* .recipeSave span{
    border-radius: 100%;
    border: 1px black solid;
    padding: 9px;
    text-align: center;
} */