html,body,nav,a,h1,footer,h2,h3,h4,span,div,img,p{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;}
.homebar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #f1a536;
    height: 150px;
    align-items: center;
}
.logo{
    height: 100%;
}
#contentHolder{
    width: 100%;
    height: 100%;
}
nav{
    display: inline-flex;
    justify-content: space-between;
    width: 700px;
}
nav>a{
    display: inline;
    color: black;
    text-decoration: none;
    font-size: 150%;
    margin: 0px 10px;
}
#homePage{
    background-image: url(/images/hero-image.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#homePage>p{
    background-color: white;
    display: inline-block;
    height: fit-content;
    margin: 250px;
    font-size: 28pt;
    font-weight: 700;
    padding: 10px;
}
.foodInfo{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 50px;
    gap: 40px;
}
.foodInfo>h1{
    align-self: flex-start;
    font-size: 30pt;
}
.description{
    font-size: 26pt;
}
.foodImg{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 80%;
    justify-content: space-between;
}
.foodcard{
    width: 31%;
}
.foodImg img{
    order: 1;
    height: 90%;
    width: 100%;
    object-fit: cover;
}
.foodImg p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26pt;
    height: 10%;
}
.foodInfo:nth-child(even){
    background-color: #DADFEA;
}
.foodInfo:nth-child(even)>.foodImg{
    gap: 5px;
}
.foodInfo:nth-child(even) .foodcard{
    width: 24%;
}
.foodInfo:nth-child(even)>.foodImg p{
    background-color: #fff;
}
